<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="dashboard">
    <h1 class="dashboard-title">Board Members</h1>
    <div class="dashboard-widgets">
      <div class="widget">
        <h2 class="widget-title">CEO</h2>
        <p class="widget-content">MR.Bhakta Reddy</p>
      </div>
      <div class="widget">
        <h2 class="widget-title">Team Leader</h2>
        <p class="widget-content">MR.Sathish & MR.Hajarath</p>
      </div>
      <div class="widget">
        <h2 class="widget-title">Clients</h2>
        <p class="widget-content">MR.Jaswanth Sai & MR.Prasanna Kumar</p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>