<aside>
  <div class="containers">
    <a routerLink="/about">
      <i class="fas fa-chart-bar"></i>
      Dashboard
    </a>
  </div>
  <div class="containers">
    <a routerLink="/forms">
      <i class="fas fa-file-alt"></i>
      Forms
    </a>
  </div>
  <div class="containers">
    <a routerLink="/table">
      <i class="fas fa-table"></i>
      Table
    </a>
  </div>
  <div class="containers">
    <a routerLink="/reports">
      <i class="fas fa-chart-line"></i>
      Reports
    </a>
  </div>
  <div class="containers">
    <a routerLink="/sai">
      <i class="fas fa-user"></i>
      User
    </a>
  </div>
  <!-- <div class="containers">
    <a routerLink="/jashu">
      <i class="fas fa-user"></i>
      jashu
    </a>
  </div> -->
</aside>

<router-outlet></router-outlet>


