<div class="main">
  <app-navbar></app-navbar>
  <h1 class="custom-heading">Events</h1>
  <div class="box1">
    <div class="box1-1">
      <h1 class="today">Today</h1>
      <h1 class="time">17:00</h1>
    </div>
    <h1 class="text1">Bergen International Film Festival</h1>
    <h1 class="text2">Films from all over the world gather all film enthusiasts for<br> unique moments at the Bergen
      International Film Festival.</h1>
    <div>
      <h1 class="calender">+ Add to calender</h1>
    </div>
  </div>
  <div class="box2">
    <div class="box2-1">
      <h1 class="today2">22-31 Oct</h1>
      <h1 class="time2">10:00</h1>
    </div>
    <h1 class="text2-1">Wool week</h1>
    <h1 class="text2-2">ULLVEKA 2021 will be held for the eighth time in the period 22 - <br> 31 october 2021, and place
      in the entire bergen region.</h1>
    <div>
      <button class="calender2">+ Add to calender</button>
    </div>
  </div>
  <div class="box3">
    <div class="box3-1">
      <h1 class="today3">22-31 Oct</h1>
      <h1 class="time3">19:00</h1>
    </div>
    <h1 class="text3-1">Light part at Bergenhus Forthess</h1>
    <h1 class="text3-2">LUMAGICA - a magical experience for young and old at <br> Bergenhus Forthess, 12 november to 19
      december 2021.</h1>
    <div>
      <h1 class="calender3">+ Add to calender</h1>
    </div>
  </div>
  <div class="box4">
    <div class="box4-1">
      <h1 class="today4">13-31 Dec</h1>
      <h1 class="time4">10:00</h1>
    </div>
    <h1 class="text4-1">Gingerbread City 2021</h1>
    <h1 class="text4-2">The world's largest Gingerbread Town cam be found in the <br> xhibition shopping centre, right
      in the centre of Bregen.</h1>
    <div>
      <h1 class="calender4">+ Add to calender</h1>
    </div>
  </div>
</div>