<app-header></app-header>
<h1>About Ensar</h1>
<h2> We help businesses succeed in the digital age.</h2>
<p class="ishu">By leveraging our full spectrum strategy, design, and technology capabilities, we deliver game-changing outcomes for our clients around the world.</p>
<p class="sai" >We are a company with a startup soul, incepted by entrepreneurial leaders, helping clients to develop Intelligent Enterprises.</p>
<p class="jashu">To us, our work is not just about digital transformation, its about transforming and improving people's lives.</p>
<app-side-menu></app-side-menu>
<app-footer></app-footer>
<!-- <router-outlet></router-outlet> -->