.user-details {
    background-color: #f0f0f0;
    padding: 20px 220px;
    margin-top: 50px;
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
   h2 {
    color: #333;
    /* padding: 20px 220px; */
  }
  
  strong {
    font-weight: bold;
    /* padding: 20px 220px; */
  } 
  