<app-header></app-header>
<app-side-menu></app-side-menu>
<h2>Ensar Employee List</h2>
<div class="row">
  <div class="col-md-12 text-center">
    <button (click)="openForm()">Add Person</button>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone Number</th>
      <th>Date of Birth</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of data">
      <td>{{person.id}}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.gender }}</td>
      <td>{{person.phoneNumber}}</td>
      <td>{{ person.dateOfBirth }}</td>
      <td>
        <div class="action-wrapper" (mouseleave)="hideActions(person)">
          <button class="action-button" (click)="toggleActions(person)">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </button>
          <div class="actions" *ngIf="person.showActions">
            <button (click)="editPerson(person)">Edit</button>
            <button (click)="deletePerson(person)">Delete</button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>



<div class="popup" [style.display]="showForm ? 'block' : 'none'">
  
  <div class="nav-header">
    <h3>{{ formTitle }}</h3>
    <button class="close" (click)="closeForm()">&times;</button>
  </div>

  <div class="card">
    <div class="card-body">
      <form (submit)="submitButtonText === 'Add' ? addPerson() : updatePerson()">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="newPerson.name"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age"
            name="age"
            [(ngModel)]="newPerson.age"
            class="form-control"
          />
        </div>

        <div class="form-group1">
          <label for="gender">Gender</label>
          <select id="gender" name="gender" [(ngModel)]="newPerson.gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Others">Others</option>
          </select>
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth</label>
          <input
            type="date"
            id="dob"
            name="dob"
            [(ngModel)]="newPerson.dateOfBirth"
            class="form-control"
          />
        </div>
        
        <div class="form-group">
          <label for="PhoneNumber">Phone Number</label>
          <input
            type="number"
            id="PhoneNumber"
            name="PhoneNumber"
            [(ngModel)]="newPerson.phoneNumber"
            class="form-control phone-input"
          />
        </div>
        
        <div class="btn-group">
          <button type="submit" class="btn btn-primary">{{ submitButtonText }}</button>
          <button type="button" class="btn btn-secondary" (click)="resetForm()">
            Reset
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="popup-overlay" [style.display]="showForm ? 'block' : 'none'" (click)="closeForm()"></div>
<app-footer></app-footer>
